aws_region                    = "ap-southeast-1"
project                       = "khaleoapp"
environment                   = "prod"
route53_zone_name             = "khaleoshop.click"
frontend_domain_name          = "khaleoshop.click"
api_domain_name               = "api.khaleoshop.click"
ec2_instance_type             = "t3.micro"
db_instance_class             = "db.t3.micro"
db_name                       = "khaleoapp"
db_username                   = "app_user"
db_password                   = "REPLACE_ME_STRONG_PASSWORD"
db_backup_retention_days      = 7
enable_frontend_custom_domain = true

